// File for scss-vars.
// For example: main colors, paddings and so on.

$mobile:321px;
$tablet:600px;
$tablet-2:768px;
$desctop:900px;

$color-bg: #ededed;
$color-font:#0c4da2;
$color-border:#c8c8c8;
$color-mark:#e7435d;